<footer>
	<article>
		<div class="footer-links">
		    <h4>Docs</h4>
		    <a href="/#/docs/quick-start">Get Started</a>
		    <a href="/#/README">Overview</a>
		    <a href="/#/README?id=guides">Guides</a>
		</div>
		<div class="footer-links">
		    <h4>Channel</h4>
		    <a target="_blank" href="https://godaddy-oss-slack.herokuapp.com">Slack</a>
		    <!--                <a  target="_blank" href="https://twitter.com/gasketjs">Twitter</a>-->
		    <a target="_blank" href="https://stackoverflow.com/questions/tagged/gasket">Stack Overflow</a>
		</div>
		<div class="footer-links">
		    <h4>Contribute</h4>
		    <a href="htts://gasket.dev/#/CONTRIBUTING">Guidelines</a>
		    <a target="_blank" href="https://github.com/godaddy/gasket/">Github</a>
		</div>
		<div class="footer-copyright">
		    <a target="_blank" href="https://www.godaddy.com/engineering/">
		    <div class="godaddy-open-source">
		        GODADDY OPEN SOURCE
		    </div>
		    </a>
		    <span class="godaddy-copyright">
		        Copyright (c) 2019 GoDaddy Operating Company, LLC.
		    </span>
		</div>
	</article>
</footer>