/* -- OVERRIDES -- */

.sidebar-nav ul ul {
	margin-left: 0;
}

.sidebar-nav ul li {
	border-left: 4px solid transparent;
}

.sidebar-nav ul li.active {
	border-left: 4px solid var(--sidebar-nav-link-border-color--active);
}

.markdown-section a:not([href^='#/'])::after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"><g fill="%233F51B5" transform="translate(0,2)"><path d="M12.1875,12.5625a.75.75,0,0,1-.53027-1.28027L19.18945,3.75H14a.75.75,0,0,1,0-1.5h6.99414c.0166,0,.042.00049.0625.00195a.75032.75032,0,0,1,.40039.15332l.001.00049h0a.78015.78015,0,0,1,.10937.103.75162.75162,0,0,1,.18262.48242h0V10a.75.75,0,0,1-1.5,0V4.81055l-7.53223,7.53222A.74754.74754,0,0,1,12.1875,12.5625Z"/><path d="M18.75,21.75H5.25a3.00328,3.00328,0,0,1-3-3V5.25a3.00328,3.00328,0,0,1,3-3H10a.75.75,0,0,1,0,1.5H5.25a1.50164,1.50164,0,0,0-1.5,1.5v13.5a1.50164,1.50164,0,0,0,1.5,1.5h13.5a1.50164,1.50164,0,0,0,1.5-1.5V14a.75.75,0,0,1,1.5,0v4.75A3.00328,3.00328,0,0,1,18.75,21.75Z"/></g></svg>');
	padding-left: 2px;
}

/* h1 & h2 same level */

/* h3 */
.sidebar-nav ul ul ul li {
	padding-left: 20px;
}
/* h4 */
.sidebar-nav ul ul ul ul li {
	padding-left: 44px;
}

/* full-width tables */
.markdown-section table {
	display: table;
	width: 100%;
}


/* -- FIXES -- */

:root {
	--heading-line-height: var(--base-line-height);
}

.markdown-section {
	h1 {
		line-height: var(--heading-h1-line-height, var(--heading-line-height));
	}

	h2 {
		line-height: var(--heading-h2-line-height, var(--heading-line-height));
	}

	h3 {
		line-height: var(--heading-h3-line-height, var(--heading-line-height));
	}

	h4 {
		line-height: var(--heading-h4-line-height, var(--heading-line-height));
	}

	h5 {
		line-height: var(--heading-h5-line-height, var(--heading-line-height));
	}

	h6 {
		line-height: var(--heading-h6-line-height, var(--heading-line-height));
	}
}


/* -- CUSTOM FEATURES -- */

a.toc-link,
a.toc-link:hover {
	color: var(--color-primary-100);
	text-indent: 4px;
}

a.toc-link::after {
	content: 'â†';
	float: left;
}


// Header and Navigation
// ==========================================================================

.cover.show {
	display: block;
}

.cover .cover-main {
	margin: 0;
	max-width: none;
	padding: 0;
}

.app-nav.no-badge {
	right: 24px;
	top: 24px;
}

nav {
	&.hidden {
		display: none;
	}

	.github-logo {
		display: inline-block;
		height: 40px;
		width: 40px;
	}
}

.front-cover {
	width: auto;

	a:not(.btn) {
		color: var(--color-primary-200);
		text-decoration: var(--link-text-decoration);

		&:hover {
			color: var(--color-primary-200);
			cursor: pointer;
			text-decoration: var(--link-text-decoration--hover);
		}
	}

	a.btn:hover {
		text-decoration: var(--link-text-decoration--hover);
	}

	h1,
	h2,
	h3 {
		color: var(--heading-color);
		margin: 0 0 0.5rem;
	}

	h1 {
		font-size: var(--heading-h1-font-size);
		font-weight: 500;
		line-height: var(--heading-h1-line-height);
	}

	h2 {
		font-size: var(--heading-h2-font-size);
		font-weight: var(--heading-font-weight);
		line-height: var(--heading-h2-line-height);
	}

	h3 {
		font-size: var(--heading-h3-font-size);
		font-weight: var(--heading-font-weight);
		line-height: var(--heading-h3-line-height);
	}

	header {
		padding: 4rem 0;
		position: relative;
		width: 100%;

		p {
			color: var(--color-nuetral-300);
			font-size: 31px;
			font-weight: 300;
			line-height: 40px;
			padding-bottom: 24px;
		}

		&.splash p {
			margin-bottom: 0;
			margin-top: 0;
		}

		a {
			background-color: var(--color-secondary-100);
			border-radius: 4px;
			color: var(--color-primary-300);
			font-weight: 500;
			padding: 10px 48px;
			text-decoration: none;
		}
	}

	.logo {
		left: 24px;
		position: absolute;
		top: 16px;
	}

	section {
		padding: 96px 0;

		&#post-list {
			padding: 2em 0;
		}
	}

	article {
		margin-left: auto;
		margin-right: auto;
		max-width: 800px;
		padding-left: 20px;
		padding-right: 20px;
	}

}

.front-cover header {
	.social > a {
		margin: 0 10px;
		padding: 10px;
	}
}

.front-cover nav ul li a {
	color: var(--color-nuetral-400) !important;
}

// Landing Page Layout
// ==========================================================================

section.angled {
	background-color: var(--color-primary-300);
	position: relative;

	h2 {
		color: var(--color-primary-100);
	}

	p {
		color: var(--color-nuetral-100);
	}

	a:not(.btn) {
		color: var(--color-secondary-100);
	}
	/* --- BORDERS --- */

	&::before,
	&::after {
		background-color: var(--color-primary-300);
		content: '';
		height: 64px;
		left: 0;
		position: absolute;
		width: 100%;
	}

	&::before {
		background-image: repeating-linear-gradient(-60deg,
		var(--color-secondary-100),
		var(--color-secondary-100) 4px,
		transparent 4px,
		transparent 8px);
		background-repeat: no-repeat;
		background-size: 62.5% 50%;
		-webkit-clip-path: polygon(62.5% 98%, 100% 0%, 100% 100%, 0% 100%, 0% 10%);
		clip-path: polygon(62.5% 98%, 100% 0%, 100% 100%, 0% 100%, 0% 10%);
		top: -63px;
	}

	&::after {
		background-image: repeating-linear-gradient(60deg,
		var(--color-secondary-100),
		var(--color-secondary-100) 4px,
		transparent 4px,
		transparent 8px);
		background-position-x: 100%;
		background-position-y: 100%;
		background-repeat: no-repeat;
		background-size: 62.5% 50%;
		bottom: -63px;
		-webkit-clip-path: polygon(37.5% 2%, 100% 90%, 100% 0%, 0% 0%, 0% 100%);
		clip-path: polygon(37.5% 2%, 100% 90%, 100% 0%, 0% 0%, 0% 100%);
	}

	.center {
		text-align: center;
	}
}

ul.posts {
	li {
		margin: 0 0 6rem;
		text-align: left;
	}

	a:hover {
		color: var(--color-secondary-100);
	}

	img.featured_img {
		max-height: 250px;
		max-width: 100%;
	}
}

// Post Layout
// ==========================================================================

.front-cover header.post {
	padding-bottom: 0;
	padding-top: 8em;
}

.posts {
	h2 {
		margin-top: 0;
	}
}

.post section.angled {
	h1,
	h4,
	p,
	div {
		color: var(--color-nuetral-100);
	}

	.post-author a {
		background-color: transparent;
		border-radius: 4px;
		display: block;
		font-weight: 500;
		padding: 0;
		text-decoration: none;

		&:hover {
			color: var(--color-secondary-100);
			text-decoration: underline;
		}
	}
}

.post section.angled,
.post-content {
	.post-tags {
		margin-top: 1em;
	}

	.post-tags .btn,
	.post-tags .tag {
		color: var(--color-primary-300);
		font-size: 13px;
		margin-right: 1em;
		padding: .5em 1em;
		background-color: var(--color-secondary-100);
	    border-radius: 4px;
	    font-weight: 500;
	    text-decoration: none;
	    display: inline-block;

		&::after {
			content: none;
		}
	}
}

.post-author {
	margin-top: 5px;

	> .author {
		display: inline-block;
		line-height: 20px;
		padding-left: 10px;
		padding-top: 9px;
		vertical-align: top;
	}

	img {
		border-radius: 50%;
		max-height: 60px;
		max-width: 60px;
	}

}

.post-meta,
.post-date {
	color: var(--color-nuetral-300);

	p {
		margin: 0;
	}
}

.front-cover section.post-content {
	padding-top: 40px;
}

a.btn {
	background-color: var(--color-secondary-100);
	border-radius: 4px;
	color: var(--color-primary-300);
	font-weight: 500;
	padding: 10px 48px;
	text-decoration: none;
}

// Footer
// ==========================================================================


footer {
	background-color: var(--color-nuetral-400);
	color: var(--color-nuetral-300);
	min-height: 350px;
	padding-top: 64px;
	width: 100%;
}


.footer-links,
.footer-copyright {
	color: var(--color-nuetral-300);
	display: block;
	float: left;
	font-size: 13px;
	line-height: 20px;
	text-align: left;
	width: 25%;
}

.footer-copyright a {
	color: var(--color-nuetral-300) !important;

	&:hover {
		color: var(--color-secondary-100) !important;
		text-decoration: underline;
	}
}


.footer-links {
	h4 {
		color: var(--color-primary-100);
		font-size: 13px;
		font-weight: normal;
		line-height: 20px;
	}

	a {
		color: var(--color-secondary-100) !important;
		display: block;
		font-size: 16px;
		line-height: 28px;
		margin-bottom: 16px;

		&:hover {
			color: var(--color-secondary-100);
		}

		&:not([href^='/'])::after {
			content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"><g fill="%2304E7AE" transform="translate(0,2)"><path d="M12.1875,12.5625a.75.75,0,0,1-.53027-1.28027L19.18945,3.75H14a.75.75,0,0,1,0-1.5h6.99414c.0166,0,.042.00049.0625.00195a.75032.75032,0,0,1,.40039.15332l.001.00049h0a.78015.78015,0,0,1,.10937.103.75162.75162,0,0,1,.18262.48242h0V10a.75.75,0,0,1-1.5,0V4.81055l-7.53223,7.53222A.74754.74754,0,0,1,12.1875,12.5625Z"/><path d="M18.75,21.75H5.25a3.00328,3.00328,0,0,1-3-3V5.25a3.00328,3.00328,0,0,1,3-3H10a.75.75,0,0,1,0,1.5H5.25a1.50164,1.50164,0,0,0-1.5,1.5v13.5a1.50164,1.50164,0,0,0,1.5,1.5h13.5a1.50164,1.50164,0,0,0,1.5-1.5V14a.75.75,0,0,1,1.5,0v4.75A3.00328,3.00328,0,0,1,18.75,21.75Z"/></g></svg>');
			padding-left: 4px;
		}
	}
}

.godaddy-open-source {
	background-image: url('/assets/godaddy-oss-logo.svg');
	background-repeat: no-repeat;
	display: block;

	float: left;
	margin-bottom: 32px;
	margin-top: 24px;
	padding-left: 60px;
	width: 150px;
}


.gasket-element-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -60px;
	width: 880px;
}

.gasket-element-column {
	display: flex;
	flex: 1;
	flex-basis: 100%;
	flex-direction: column;
	padding: 64px 0;
	text-align: left;

	&:first-of-type {
		border-right: 1px solid var(--color-primary-100);
		padding-right: 64px;
	}

	&:last-of-type {
		padding-left: 64px;
	}
}

.gasket-element-row {
	border-bottom: 1px solid var(--color-primary-100);
	padding: 0 64px;

	&:last-of-type {
		border-bottom: 0;
	}
}


.element-icon {
	width: 48px;
}

.element-caption {
	border-top: 2px solid var(--color-accent-red-100);
	color: var(--color-nuetral-300);

	font-size: 0.8125rem;
	line-height: 1.5;
	margin-top: 28px;
	padding: 16px 0;
	width: 96px;
}

.plugins-graphic {
	max-width: 512px;
	padding: 64px 0;
	width: 100%;
}


/* --- LEARN MORE --- */

#learn-more h2 {
	margin-bottom: 1em;
}

/* --- SHARE BTNS --- */

.front-cover .share-box h4 {
	margin-bottom: 5px;
}

.front-cover .share-box a {
	-webkit-box-shadow: 0 0 1px #777;
	box-shadow: 0 0 1px #777;
	display: inline-block;
	margin-bottom: 5px;
	margin-right: 5px;
	padding: 5px 12px;
	text-decoration: none;

	&::after {
		content: none !important;
	}

	&:hover {
		text-decoration: none;
		-webkit-transition: background-color 200ms linear;
		-ms-transition: background-color 200ms linear;
		transition: background-color 200ms linear; 
	}

	&.f {
		color: #3b5998;

		&:hover {
			background-color: #3b5998;
			color: #fff; 
		}
	}

	&.t {
		color: #4099ff;

		&:hover {
			background-color: #4099ff;
			color: #fff; 
		}
	}

	&.g {
		color: #d34836;

		&:hover {
			background-color: #d34836;
			color: #fff; 
		}
	}

	&.r {
		color: #ff5700;

		&:hover {
			background-color: #ff5700;
			color: #fff; 
		}
	}

	&.l {
		color: #0077b5;

		&:hover {
			background-color: #0077b5;
			color: #fff; 
		}
	}

	&.e {
		color: #444;

		&:hover {
			background-color: #444;
			color: #fff; 
		}
	}
}


/* --- BREAKPOINTS --- */

@media only screen and (max-width: 992px) {
	.gasket-element-row {
		margin-left: 0;
		padding: 0;
		width: 100%;
	}

	.gasket-element-column {
		padding: 64px 32px;
	}
}

@media only screen and (max-width: 768px) {
	.front-cover {
		text-align: left;

		article {
			padding-left: 20px;
			padding-right: 20px;
		}

		p {
			padding: 0;
		}
	}

	section.angled::before,
	section.angled::after {
		height: 32px;
	}

	section.angled::before {
		top: -31px;
	}

	section.angled::after {
		bottom: -31px;
	}

	.gasket-element-row {
		display: inline;
	}

	.gasket-element-column {
		display: inline-block;
		padding: 32px 0 0;
	}

	.gasket-element-column:first-of-type {
		border-right: 0;
		padding-right: 0;
	}

	.gasket-element-column:last-of-type {
		padding-left: 0;
	}

	.gasket-element-row {
		border-bottom: 0;
		padding: 0;
	}

	.footer-links {
		padding-right: 24px;
		width: 33%;
	}

	.footer-copyright {
		padding-right: 0;
		padding-top: 16px;
		width: 100%;
	}

	.godaddy-open-source {
		margin-right: 32px;
		margin-top: 0;
	}

	.front-cover footer {
		min-height: 400px;
	}

	.front-cover .app-nav > ul > li {
		margin: 0 0 0 1em;
	}
}

@media only screen and (max-width: 400px) {
	.xs-hidden {
		display: none !important;
	}

	nav .github-logo {
		height: 32px;
		width: 32px;
	}

	.front-cover .logo {
		left: 16px;
	}

	.app-nav.no-badge {
		right: 20px;
	}
}
@media only screen and (max-width: 500px){
	.sm-hidden {
		display: none !important;
	}
}
@media only screen and (max-width: 769px){
	.front-cover header{
		padding-top: 8rem;
	}
}

/* no hero bg for mobile devices */
@media only screen and (min-width: 769px) {
	header.splash {
		background-image: url('/assets/gasket-hero-optimized.svg');
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 200px;
	}
}
